.navegation{
    width: 100%;
    max-width: 290px;
    overflow: auto;
    a{
        border: .1rem solid #93ADE8;
        border-radius: 1rem;
        padding: .5rem;


        display: flex;
        align-items: center;
        font-size: 1rem;
        // background-color: red;
        font-weight: 600;
        img{
            width: 32px;
            height: 32px;
            margin-right: .4rem;
        }
    }
}

.ilustracao{
    position: relative;
    width: 315px;
    figure{
        position: absolute;
        bottom: 0;
        width: 260px;
        z-index: 999;
    }
}

.conteinerCard{
    overflow: auto;
    .card{
        // margin-bottom: 2rem;
        flex-direction: column;
        min-height: 150px;
        border: 1px solid #337FFF;
        background-color: #fff;
        box-shadow: 0 45.923px 12.689px 0 rgba(0, 0, 0, 0.00), 
                    0 29.004px 11.481px 0 rgba(0, 0, 0, 0.01), 
                    0 16.315px 9.668px 0 rgba(0, 0, 0, 0.05),
                    0 7.251px 7.251px 0 rgba(0, 0, 0, 0.09), 0 1.813px 4.23px 0 rgba(0, 0, 0, 0.10);
        .tag{
             background-color: #FFB60C;
             border-radius: 3.77656rem;
             font-weight: 600;
             text-align: center;
             padding: .4rem;
             display: inline-block;
             font-size: 14px;
             margin-bottom: 1rem;
        }
        .title{
            margin-top: 10px;
            color: #0B274E;
            font-weight: 600;
            font-size: 1.2rem;
        }

        svg.teste{
            fill: red; stroke: black;
        }
    }
}