@import "tailwindcss";

/* PRimitivos */
:root {
  --color-light-blue-softest: #e6f3ff;
  --color-light-blue-softer: #99c6ff;
  --color-light-blue-soft: #337fff;
  --color-light-blue-default: #0034b7;
  --color-light-blue-strong: #001a7a;
  --color-dark-blue-softest: #1357ac;
  --color-dark-blue-softer: #1249a5;
  --color-dark-blue-soft: #082947;
  --color-dark-blue-default: #0b2463;
  --color-dark-blue-strong: #071442;
  --color-light-red-softest: #ffe4e4;
  --color-light-red-softer: #ffc7c7;
  --color-light-red-soft: #e45f5f;
  --color-light-red-default: #ac1010;
  --color-light-red-strong: #841d1d;
  --color-dark-red-softest: #e57373;
  --color-dark-red-softer: #550909;
  --color-dark-red-soft: #4d0909;
  --color-dark-red-default: #5e1313;
  --color-dark-red-strong: #491818;
  --color-light-green-softest: #eafbd7;
  --color-light-green-softer: #d1f8b0;
  --color-light-green-soft: #86d562;
  --color-light-green-default: #2b6418;
  --color-light-green-strong: #12400d;
  --color-dark-green-softest: #6dbc49;
  --color-dark-green-softer: #49821a;
  --color-dark-green-soft: #4b7819;
  --color-dark-green-default: #1c3713;
  --color-dark-green-strong: #0d230b;
  --color-light-yellow-softest: #fff6ce;
  --color-light-yellow-softer: #ffea9d;
  --color-light-yellow-soft: #ffcd48;
  --color-light-yellow-default: #ffb60c;
  --color-light-yellow-strong: #b77706;
  --color-dark-yellow-softest: #e0a919;
  --color-dark-yellow-softer: #a48512;
  --color-dark-yellow-soft: #927a10;
  --color-dark-yellow-default: #906a10;
  --color-dark-yellow-strong: #63440e;
  --color-light-gray-softest: #f8fafc;
  --color-light-gray-softer: #e7e9eb;
  --color-light-gray-soft: #ced2d7;
  --color-light-gray-default: #494c57;
  --color-light-gray-strong: #28272c;
  --color-dark-gray-softest: #4a5057;
  --color-dark-gray-softer: #43484d;
  --color-dark-gray-soft: #2d2e33;
  --color-dark-gray-default: #18181a;
  --color-dark-gray-strong: #0a0f14;
}


@theme {

    /* tokens background */
    --color-background-dark: var(--color-light-blue-strong);
    --color-background-default: var(--color-light-gray-softest);
    --color-background-secondary: var(--color-light-blue-softer);
    --color-background-darker: var(--color-light-gray-softer);
    --color-background-dark: var(--color-light-blue-strong);
    --color-background-feedback-success: var(--color-light-green-softest);
    --color-background-feedback-danger: var(--color-light-red-softest);
    --color-background-feedback-warning: var(--color-light-yellow-softest);
    --color-background-feedback-info: var(--color-light-blue-softest);

    /* tokens text */
    --color-text-default: var(--color-light-gray-strong);
    --color-text-primary: var(--color-light-blue-default);
    --color-text-secondary: var(--color-light-gray-default);
    --color-text-disabled: var(--color-light-gray-soft);
    --color-text-bright: var(--color-light-gray-softest);
    --color-text-link: var(--color-light-blue-default);
    --color-text-placeholder: var(--color-light-gray-default);
    --color-text-danger: var(--color-light-red-default);
    --color-text-success: var(--color-light-green-strong);


  

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  height: 100%;
}
body {
  height: 100%;
  color: var(--foreground);
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* background: #011A70 url('/bgConexao.png') no-repeat; */
  background-color:#011A70;
  /* background-image: radial-gradient(at 16.52656960792691% 63.873297724432184%, hsla(231.42857142857144, 38.88888888888889%, 7.0588235294117645%, 1) 0%, hsla(231.42857142857144, 38.88888888888889%, 7.0588235294117645%, 0) 100%), radial-gradient(at 35.27179577299406% 3.5717236199363622%, hsla(225.7377049180328, 100%, 23.92156862745098%, 1) 0%, hsla(225.7377049180328, 100%, 23.92156862745098%, 0) 100%), radial-gradient(at 99.12663034181996% 58.159336856119026%, hsla(226.48648648648648, 98.23008849557523%, 22.15686274509804%, 1) 0%, hsla(226.48648648648648, 98.23008849557523%, 22.15686274509804%, 0) 100%), radial-gradient(at 42.28954200624157% 54.65270611137771%, hsla(231.42857142857144, 38.88888888888889%, 7.0588235294117645%, 1) 0%, hsla(231.42857142857144, 38.88888888888889%, 7.0588235294117645%, 0) 100%), radial-gradient(at 41.89255176815655% 72.020853665235%, hsla(225.7377049180328, 100%, 23.92156862745098%, 1) 0%, hsla(225.7377049180328, 100%, 23.92156862745098%, 0) 100%); */
background-color:hsla(249,100%,50%,1);
background-image:
radial-gradient(at 80% 0%, hsla(233,84%,25%,1) 0px, transparent 50%),
radial-gradient(at 11% 89%, hsla(235,100%,34%,1) 0px, transparent 50%),
radial-gradient(at 44% 31%, hsla(225,100%,44%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(240,52%,40%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(254,100%,25%,1) 0px, transparent 50%);


  background-position: right;

}


.headerInterna{
  display: flex;
  justify-content: space-between;
  border-radius: 0 0  0 4rem;
  background-color: #011A70 ;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  padding-left: 38px;
  /* background: #011A70 url('/bg-conexao-header.svg') no-repeat;
  background-position: left;
  background-size: cover; */

  .conteinerButton{
    background: #011A70 url('/bg-menu.svg') no-repeat;
    background-size: cover;
    padding-top: 20px;
    position: absolute;
    bottom: -1px;
    right: 0;
    height: 80%;
  }
}

.conteinerButton{
  display: flex;
  width: 45%;
  max-width: 430px;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}

  @media (orientation: portrait) {
    .conteinerButton {
      width: 360px;
      padding-left: 56px;
    }
  }


.btn{
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  color: #001A7A;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  figure{
    img{
      width: 100%;
    }
  }
}







.swiper {
  width: 100%;
  /* height: 100%; */
  margin-left: auto;
  margin-right: auto;
  /* overflow-y: auto!important; */
  .swiper-wrapper{
    /* height: auto; */
    gap: 2rem;
    padding-bottom: 60px;
  }
}


.swiper-slide {
  background: none;
  padding: 0!important;
  margin: 0!important;
  min-height: fit-content;
  height: auto !important;
}

  .swiper-pagination{
    display: none !important;
  }

/* .swiper-slide{
  height: 100%!important;
} */


.conteinerTeste{
  @media(max-width: 700px){
    background-color: transparent;
    flex-direction: column;
  }
}