@import "tailwindcss";

/* PRimitivos */
:root {
  --color-light-blue-softest: #e6f3ff;
  --color-light-blue-softer: #99c6ff;
  --color-light-blue-soft: #337fff;
  --color-light-blue-default: #0034b7;
  --color-light-blue-strong: #001a7a;
  --color-dark-blue-softest: #1357ac;
  --color-dark-blue-softer: #1249a5;
  --color-dark-blue-soft: #082947;
  --color-dark-blue-default: #0b2463;
  --color-dark-blue-strong: #071442;
  --color-light-red-softest: #ffe4e4;
  --color-light-red-softer: #ffc7c7;
  --color-light-red-soft: #e45f5f;
  --color-light-red-default: #ac1010;
  --color-light-red-strong: #841d1d;
  --color-dark-red-softest: #e57373;
  --color-dark-red-softer: #550909;
  --color-dark-red-soft: #4d0909;
  --color-dark-red-default: #5e1313;
  --color-dark-red-strong: #491818;
  --color-light-green-softest: #eafbd7;
  --color-light-green-softer: #d1f8b0;
  --color-light-green-soft: #86d562;
  --color-light-green-default: #2b6418;
  --color-light-green-strong: #12400d;
  --color-dark-green-softest: #6dbc49;
  --color-dark-green-softer: #49821a;
  --color-dark-green-soft: #4b7819;
  --color-dark-green-default: #1c3713;
  --color-dark-green-strong: #0d230b;
  --color-light-yellow-softest: #fff6ce;
  --color-light-yellow-softer: #ffea9d;
  --color-light-yellow-soft: #ffcd48;
  --color-light-yellow-default: #ffb60c;
  --color-light-yellow-strong: #b77706;
  --color-dark-yellow-softest: #e0a919;
  --color-dark-yellow-softer: #a48512;
  --color-dark-yellow-soft: #927a10;
  --color-dark-yellow-default: #906a10;
  --color-dark-yellow-strong: #63440e;
  --color-light-gray-softest: #f8fafc;
  --color-light-gray-softer: #e7e9eb;
  --color-light-gray-soft: #ced2d7;
  --color-light-gray-default: #494c57;
  --color-light-gray-strong: #28272c;
  --color-dark-gray-softest: #4a5057;
  --color-dark-gray-softer: #43484d;
  --color-dark-gray-soft: #2d2e33;
  --color-dark-gray-default: #18181a;
  --color-dark-gray-strong: #0a0f14;
}


@theme {

    /* tokens background */
    --color-background-dark: var(--color-light-blue-strong);
    --color-background-default: var(--color-light-gray-softest);
    --color-background-secondary: var(--color-light-blue-softer);
    --color-background-darker: var(--color-light-gray-softer);
    --color-background-dark: var(--color-light-blue-strong);
    --color-background-feedback-success: var(--color-light-green-softest);
    --color-background-feedback-danger: var(--color-light-red-softest);
    --color-background-feedback-warning: var(--color-light-yellow-softest);
    --color-background-feedback-info: var(--color-light-blue-softest);

    /* tokens text */
    --color-text-default: var(--color-light-gray-strong);
    --color-text-primary: var(--color-light-blue-default);
    --color-text-secondary: var(--color-light-gray-default);
    --color-text-disabled: var(--color-light-gray-soft);
    --color-text-bright: var(--color-light-gray-softest);
    --color-text-link: var(--color-light-blue-default);
    --color-text-placeholder: var(--color-light-gray-default);
    --color-text-danger: var(--color-light-red-default);
    --color-text-success: var(--color-light-green-strong);


  

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  height: 100%;
}
.body {
  height: 100%;
  color: var(--foreground);
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* background-color:#011A70; */
}

.animationHome{
    --y-0: 63%;
    --x-0: 93%;
    --c-0: hsla(217, 100%, 30%, 1);
    --y-1: -7%;
    --x-1: 33%;
    --c-1: hsla(0, 0%, 0%, 1);
    --x-2: 84%;
    --c-2: hsla(0, 0%, 0%, 1);
    --y-2: 7%;
    --y-3: 5%;
    --c-3: hsla(0, 0%, 0%, 1);
    --x-3: 14%;
    --x-4: 7%;
    --y-4: 96%;
    --c-4: hsla(0, 0%, 0%, 1);
    --y-5: 90%;
    --x-5: 93%;
    --c-5: hsla(0, 0%, 0%, 1);
    --x-6: 3%;
    --y-6: 61%;
    --c-6: hsla(279, 67%, 27%, 1);
    --c-7: hsla(279, 67%, 27%, 1);
    --y-7: 59%;
    --x-7: 94%;
    --y-8: 63%;
    --x-8: 48%;
    --c-8: hsla(217, 100%, 39%, 1);
    --x-9: 96%;
    --c-9: hsla(217, 100%, 30%, 1);
    --y-9: 78%;
    ;
    background-color: hsla(262, 82%, 3%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)), radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7)), radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8), transparent var(--s-end-8)), radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9), transparent var(--s-end-9));
    animation: animationHome 15s linear infinite alternate-reverse;
    background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
    will-change: transform, opacity;
    contain: paint
}






.headerInterna{
  display: flex;
  justify-content: space-between;
  border-radius: 0 0  0 4rem;
  background-color: #011A70 ;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  padding-left: 38px;
  /* background: #011A70 url('/bg-conexao-header.svg') no-repeat;
  background-position: left;
  background-size: cover; */

  .conteinerButton{
    background: transparent url('/bg-menu.svg') no-repeat;
    background-size: cover;
    padding-top: 20px;
    position: absolute;
    bottom: -1px;
    right: 0;
    height: 80%;
  }
}

.conteinerButton{
  display: flex;
  width: 45%;
  max-width: 430px;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}

  @media (orientation: portrait) {
    .conteinerButton {
      width: 360px;
      padding-left: 56px;
    }
  }


.btn{
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  color: #001A7A;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  figure{
    img{
      width: 100%;
    }
  }
}







.swiper {
  width: 100%;
  /* height: 100%; */
  margin-left: auto;
  margin-right: auto;
  /* overflow-y: auto!important; */
  .swiper-wrapper{
    /* height: auto; */
    gap: 2rem;
    padding-bottom: 60px;
  }
}


.swiper-slide {
  background: none;
  padding: 0!important;
  margin: 0!important;
  min-height: fit-content;
  height: auto !important;
}

  .swiper-pagination{
    display: none !important;
  }

/* .swiper-slide{
  height: 100%!important;
} */


.conteinerTeste{
  @media(max-width: 700px){
    background-color: transparent;
    flex-direction: column;
  }
}




@keyframes animationHome{
    0% {
        --y-0: 63%;
        --x-0: 93%;
        --c-0: hsla(217, 100%, 30%, 1);
        --s-start-0: 8.392121895570533%;
        --s-end-0: 38.584065253664996%;
        --s-start-1: 8.392121895570533%;
        --s-end-1: 22.10878124098502%;
        --y-1: -7%;
        --x-1: 33%;
        --c-1: hsla(0, 0%, 0%, 1);
        --x-2: 84%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 22.558651527792346%;
        --y-2: 7%;
        --s-start-3: 8.392121895570533%;
        --s-end-3: 22.558651527792346%;
        --y-3: 5%;
        --c-3: hsla(0, 0%, 0%, 1);
        --x-3: 14%;
        --x-4: 7%;
        --y-4: 96%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 22.558651527792346%;
        --c-4: hsla(0, 0%, 0%, 1);
        --s-start-5: 8.392121895570533%;
        --s-end-5: 22.558651527792346%;
        --y-5: 90%;
        --x-5: 93%;
        --c-5: hsla(0, 0%, 0%, 1);
        --x-6: 3%;
        --s-start-6: 8.392121895570533%;
        --s-end-6: 39.67138181429644%;
        --y-6: 61%;
        --c-6: hsla(279, 67%, 27%, 1);
        --c-7: hsla(279, 67%, 27%, 1);
        --s-start-7: 8.392121895570533%;
        --s-end-7: 49.58090142552271%;
        --y-7: 59%;
        --x-7: 94%;
        --s-start-8: 8.392121895570533%;
        --s-end-8: 34.815367581495366%;
        --y-8: 63%;
        --x-8: 48%;
        --c-8: hsla(217, 100%, 39%, 1);
        --x-9: 96%;
        --c-9: hsla(217, 100%, 30%, 1);
        --y-9: 78%;
        --s-start-9: 8.392121895570533%;
        --s-end-9: 31.77166380372925%;
    }

    50% {
        --y-0: 59%;
        --x-0: 2%;
        --c-0: hsla(217, 100%, 30%, 1);
        --s-start-0: 12.892043731642234%;
        --s-end-0: 42.94837818044209%;
        --s-start-1: 8.392121895570533%;
        --s-end-1: 41.69445156991687%;
        --y-1: 10%;
        --x-1: 42%;
        --c-1: hsla(0, 0%, 0%, 1);
        --x-2: 75%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 20.488815899465003%;
        --y-2: 29%;
        --s-start-3: 8.392121895570533%;
        --s-end-3: 30.099844327777923%;
        --y-3: 16%;
        --c-3: hsla(0, 0%, 0%, 1);
        --x-3: 5%;
        --x-4: 36%;
        --y-4: 91%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 24.59566937006635%;
        --c-4: hsla(0, 0%, 0%, 1);
        --s-start-5: 8.392121895570533%;
        --s-end-5: 24.59566937006635%;
        --y-5: 91%;
        --x-5: 70%;
        --c-5: hsla(0, 0%, 0%, 1);
        --x-6: 54%;
        --s-start-6: 9%;
        --s-end-6: 26.825849058644888%;
        --y-6: 73%;
        --c-6: hsla(279, 67%, 27%, 1);
        --c-7: hsla(279, 67%, 27%, 1);
        --s-start-7: 9%;
        --s-end-7: 49.05074977970796%;
        --y-7: 76%;
        --x-7: 57%;
        --s-start-8: 9;
        --s-end-8: 26.166345747226664%;
        --y-8: 53%;
        --x-8: 11%;
        --c-8: hsla(217, 100%, 39%, 1);
        --x-9: 70%;
        --c-9: hsla(217, 100%, 30%, 1);
        --y-9: 70%;
        --s-start-9: 9;
        --s-end-9: 22.152460022684956%;
    }

    100% {
        --s-start-1: 8.392121895570533%;
        --s-end-1: 59.32232816638693%;
        --y-1: -3%;
        --x-1: 76%;
        --c-1: hsla(0, 0%, 0%, 1);
        --x-2: 97%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 28.52989037790774%;
        --y-2: 18%;
        --s-start-3: 8.392121895570533%;
        --s-end-3: 28.52989037790774%;
        --y-3: 18%;
        --c-3: hsla(0, 0%, 0%, 1);
        --x-3: 42%;
        --x-4: 66%;
        --y-4: 95%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 28.52989037790774%;
        --c-4: hsla(0, 0%, 0%, 1);
        --s-start-5: 8.392121895570533%;
        --s-end-5: 28.52989037790774%;
        --y-5: 92%;
        --x-5: 46%;
        --c-5: hsla(0, 0%, 0%, 1);
        --x-6: 102%;
        --s-start-6: 24.72064437400016%;
        --s-end-6: 47.490620328604024%;
        --y-6: 16%;
        --c-6: hsla(279, 67%, 27%, 1);
        --x-9: 97%;
        --c-9: hsla(217, 100%, 31%, 1);
        --y-9: 51%;
        --s-start-9: 6.294132688184733%;
        --s-end-9: 20.79106730744014%;
    }
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 63%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217, 100%, 30%, 1)
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 38.584065253664996%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.10878124098502%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: -7%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 33%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 84%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 96%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --s-start-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --y-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90%
}

@property --x-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

@property --c-5 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
}

@property --s-start-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 39.67138181429644%
}

@property --y-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
}

@property --c-6 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(279, 67%, 27%, 1)
}

@property --c-7 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(279, 67%, 27%, 1)
}

@property --s-start-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49.58090142552271%
}

@property --y-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 59%
}

@property --x-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 94%
}

@property --s-start-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 34.815367581495366%
}

@property --y-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 63%
}

@property --x-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 48%
}

@property --c-8 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217, 100%, 39%, 1)
}

@property --x-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 96%
}

@property --c-9 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217, 100%, 30%, 1)
}

@property --y-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78%
}

@property --s-start-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31.77166380372925%
}

