.titlepage{
    font-size: 3rem;
    font-weight: 700;
    padding:2rem 0   0rem 0;
    .destaque{
      color: #FFB60C;
    }
    @media(max-width: 1150px){
      padding:1rem 0   0rem 0;
    }
    
  }

  .subtittle{
    font-size: 2rem;
    padding-bottom: 2rem;
    font-weight: 700;
    color: #fff;
    @media(max-width: 1150px){
      padding-bottom: 1rem;
    }

  }

  
  .conteinerHome{
    position: relative;
    padding-right: 4rem;
    padding-left: 4rem;
    width: 100%;
    height: 100vh;
    overflow: auto;
    @media(max-width: 1150px){
      padding:0 1.5rem   0rem 1.5rem;
    }
  }
  .conteinerCardService{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li{
      width: 100%;
      max-width: 17.5rem;
      background-color: transparent;
      border-radius: 32px;
      height: 440px;
      position: relative;
      overflow: hidden;
      padding: 0 1.125;
      border: 3px solid #541773;
      border: 3px solid transparent;
      background: linear-gradient(#031668b3, #337fff3b) padding-box padding-box, 
                  linear-gradient(120deg, #4b86ff 0%, #8640f5 50%, #3213b7 100%) border-box;
      @media(max-width:1293px){
        max-width: 15.5rem;
        margin-bottom: 2rem;
      }
      @media(max-width: 1150px){
        max-width: 20rem;
      }
      @media(max-width: 1150px){
        max-width: 14rem;
        height: 370px;
      }
      .header{
        padding: 32px 18px 32px 18px;
        display: flex;
        align-items: center;
        .icon{
          border-radius: 100%;
          border: 2px solid #fff;
          color: #fff;
          font-size: 2rem;
          display: flex;
          justify-content: center;
          width: 50px;
          @media(max-width: 1150px){
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
            align-items: center;
          }
        }
        .headerTitle{
          font-size: 1.3rem;
          margin-left: 1rem;
          color: #fff;
        }
        p{
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
        }
        .description{
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 1.05rem */
          letter-spacing: -0.00938rem;
          color: #494C57;
          display: none;
        }
      }
      .conteinerAvatar{
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        background-position: center;
        // height: 240px;
        figure{
          // width: 180px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          padding-bottom: 1rem;
          padding-left:.8rem;
        }
      }
    }
  }

